<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img
          src="https://www.vectorlogo.zone/logos/instagram/instagram-wordmark.svg"
          alt=""
          class="logo"
        />
        <div>
          <ul class="left-nav">
            <li>
              <img
                src="https://static.thenounproject.com/png/3574480-200.png"
                class="icon"
              />
              <span> <b>Home</b></span>
            </li>

            <li><a>Feed</a></li>

            <li> <form action="/upload" method="post" id="fileform" enctype= "mulitpart/form-data">
              <input type="file" name="filename" id="file" >
          </form>
          <button  id="editbutton" class="createbutton">Create</button></li>

            <li><a class="links" href="/profile">Profile</a></li>
            <li><a class="links" href="/followers">find friends</a></li>
          </ul>
        </div>
      </div>

      <!--   main content -->
      <div class="main-content">
        <div class="story">
          <div class="circle">
            <div class="avatar">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuEiaDNDqRo6K0Zn_NlRJjAde-B1zommEhIg&usqp=CAU"
              />
            </div>
            <center>
              <span>User</span>
            </center>
          </div>

          <div class="circle">
            <div class="avatar">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuEiaDNDqRo6K0Zn_NlRJjAde-B1zommEhIg&usqp=CAU"
              />
            </div>
            <center>
              <span>User</span>
            </center>
          </div>

          <div class="circle">
            <div class="avatar">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuEiaDNDqRo6K0Zn_NlRJjAde-B1zommEhIg&usqp=CAU"
              />
            </div>
            <center>
              <span>User</span>
            </center>
          </div>

          <div class="circle">
            <div class="avatar">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuEiaDNDqRo6K0Zn_NlRJjAde-B1zommEhIg&usqp=CAU"
              />
            </div>
            <center>
              <span>User</span>
            </center>
          </div>
        </div>
      </div>
  
    </div>
  </body>
  <script>
     
    document.querySelector("#editbutton").addEventListener("click", function(){
      document.querySelector("#file").click();
    })

    document.querySelector("#file")
    .addEventListener("change", function(){
      document.querySelector("#fileform").submit();
    });
    function Followbtn(){}
  </script>
</html>
