<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>
  
    <span id="root">
      <section class="section-all">
  
        <!-- 1-Role Main -->
        <main class="main" role="main">
          <div class="wrapper">
            <article class="article">
              <div class="content">
                <div class="login-box">
                  <div class="header">
                    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="Instagram">
                  </div><!-- Header end -->
                  <div class="form-wrap">
                    <form class="form" action="/register" method="post">
  
                      <div class="input-box">
                        <input type="text" class="name" name="username"  placeholder="username" >
                      </div>  
  
                      <div class="input-box">
                        <input type="email" name="email" class="name" placeholder="email"   >
                      </div> 
                      <div class="input-box">
                        <input type="text" class="name"  placeholder="name" name="name">
                      </div>  
  
                      <div class="input-box">
                        <input type="password" name="password" id="password" placeholder="Password" >
                      </div>  
  
                      <span class="button-box">
                        <button class="btn" type="submit" name="submit">sign up</button>
                      </span>  
  
                      
                    </form>
                  </div> <!-- Form-wrap end -->
                </div> <!-- Login-box end -->
  
                <div class="login-box">
                  <a class="text" href="/">Already have an account?Login in</a>
                </div> <!-- Signup-box end -->
  
               
  </body>
</html>